* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: 'Futura';
}
main {
    height: 100vh;
}
header {
    text-align: center;
}
header img {
    width: 70px;
    height: 70px;
}
.productText, .mobileProductText {
    text-align: center;
    line-height: 60px;
}
.productText {
    font-size: 1.5em;
}
/* hides  the "buy now" button that is only meant to be viewed on desktop */
button {
    display: none;
}
/* hides  the navbar that is only meant to be viewed on desktop */
nav {
    display: none;
}
/* hides "the future is now" text that is only meant to be viewed on desktop */
.productText p {
    display: none;
}
.airMags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.airMags img {
    width: 325px;
    height: 390px;
}

/* Features Container */

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background-color: black;
        color: white;
        font-family: 'Futura';
        font-style: italic;
    }
    main {
        height: 100vh;
    }
    header {
        font-size: 45px;
        border: 1px solid black;
        text-align: center;
        margin-bottom: 20px;
    }
    header img {
        width: 70px;
        height: 70px;
        
    }
    .airMags {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .airMags img {
        width: 325px;
        height: 390px;
    }
    /* Features Container */
  
.featuresContainer{
    width: auto;
    height: 85vh;
    background-color: #FFF;
}
.featuresContainerBlack{
    width: auto;
    height: 15vh;
    background-color: #000;
}
.featuresContainer h1 {
    font-size: 45px;
    text-align: center;
    color: black;
    padding-top: 30px;
}
.featuresContainer img {
    width: 400px;
    height: auto;
    padding-top: 20px;
    padding-right: 30px;
}
.box{
    width: 32px;
    height: 32px;
    background-color: #3ACFCD;
    border-radius: 3px;
    display:inline-block;
    margin-left: 40px;
}
.box p {
    color: black; 
}
.featuresText {
    color: #000;
    margin-left: 30px;
    margin-top: 5px;
}
.festuresNumbers{
    text-align: center;
    padding-top: 6px;
    font-size: 13px;
}
.featureBox {
    display: flex;
    margin: 10px;
}
@media only screen and (min-width: 992px) {
    header {
        display: flex;
        font-size: 1em;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 50px;
        height: 50px;
    }
    nav {
        margin-left: 25px;
        display: inline-block;
    }
    nav a {
        text-decoration: none;
        color: white;
        margin-right: 50px;
        line-height: 50px;
    }
    .nikeLogo img {
        margin-right: 200px;
    }
    header button {
        display: inline-block;
        height: 55px;
        width: 135px;
        margin-top: 5px;
        margin-right: 5px;
        background: #3ACFCD;
        border: none;
        font-family: 'Futura';
        color: white;
        font-size: 1em;
    }
    .productText {
        text-align: left;
        font-size: 3em;
        margin-right: 200px;
        margin-bottom: 200px;
        line-height: 100px;
    }
    .productText p {
        display: inline;
        font-size: 0.5em;
    }
    .airMags {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .airMags img {
        height: 755px;
        width: 630px;
    }
}

/* youtube page start */
.youtubeBlack{
    width: auto;
    height: 50vh;
    background-color: #000;   
}
.youtubeWhite{
    width: auto;
    height: 50vh;
    background-color: #FFF;
}
.youtubeVideo{
    width: 400px;
    margin-top: 200px;
    padding: 20px;
}
.youtubeWhite h3{
    color: #000;
    padding-top: 160px;
    text-align: center;
}
/* youtube page end */
/* buy page start */
.buyWhite{
    width: auto;
    height: 25vh;
    background-color: #fff;
}
.buyBlack{
    width: auto;
    height: 70vh;
    background-color: #000;  
    display: flex;
}
.buyContainer P{
    text-align: center;
}
.BuyButton{
    width: 130px; 
    height: 50px;
    background-color: #3ACFCD;
    margin-left: 135px;
    margin-top: 400px;
    display: inline-block;
}
.BuyButton p{
    font-family: 'Futura';
    text-align: center;
    font-size: 25px;
    padding-top: 7px;
}



/* buy page end */
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
